<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890165298329-km00urn2g8144t5s05fuk368f2nlh5ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890165298329-km00urn2g8144t5s05fuk368f2nlh5ee</string>
	<key>API_KEY</key>
	<string>AIzaSyA2ciGIuYBExlJh_gRiDzqdgl0mWJmLLv4</string>
	<key>GCM_SENDER_ID</key>
	<string>890165298329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-tut-11f0c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tut-11f0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890165298329:ios:f96e19bbed32be42412408</string>
</dict>
</plist>